.form {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

input[type="file"] {
    display: none;
}

input {
  display: inline-block;
  box-sizing: border-box;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.finish {
    margin: 10px auto;
    padding: 10px;
    color: white;
    background-color: turquoise;
    text-decoration: none;
}